*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
    position: relative;
}
nav{
    background: #0082e6;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
}
img.logo{
    height: 100px;
    padding: 0 40px;
    border-radius: 50%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block; 
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* reaponsive design for nav */
@media screen  and (max-width: 952px){
    img.logo{
        height: 100%;
        padding: 0px;
        border-radius: 50%;
        
    }
    nav ul li a{
        font-size: 16px;
    } 
}
@media  screen and (max-width: 868px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 35px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* styling the first section */
#first-section{
    background: url(good.jpg) no-repeat;
    background-image: linear-gradient(180deg, #1b9bff, #fefefe);
    background-size: cover;
    height: 120vh;
    width: 100%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    overflow: hidden;
}
#slider{
    position: relative;
    width: 90%;
    height: 80vh; 
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    left: 5%;
    top: 15%;
}

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
    float: left;
  }
  #slider ul li img{
    width: 500px;
    height: 100%;
  }
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }
  
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }
  nav ul li .donate{
    display: inline;
    padding: 10px 16px;
    background: #2c3e50;
  }
  nav ul li .donate:hover{
    background: rgba(255,165,0,0.6);
  }
  .description{
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 50px;
    left: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    /* color: green; */
  }
  .description h2{
    color: #020202;
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 30px;
    color: #fff;

  }
  .description p{
    color: #020202;
    font-size: 24px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;

  }

  #first-section  #slider h1{
    
    padding-top: 10px;
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 34px;
    font-weight: bold;
    z-index: 2;
  }
  #first-section #slider #prev,
  #first-section #slider #next{
    z-index: 99;
  }

  /* -----Styling the second section */
  #second-section{
    width: 90%;
    display: grid;
    grid-template-columns: (auto-fit, minmax(400px, 1fr));
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    margin-top: 50px;
    margin-left: 5%;
    position: relative;
  }

  #second-section div{
    background: #abab;
    padding: 40px;
    font-size: 15px;
    transition: all 3s ease-in-out;
    box-shadow: 2px 3px 2px 3px rgba(0, 0, 0, 0.3);
  }
 #second-section #obed-bg{
  background: url("logo.PNG") no-repeat;
  background-size: cover;
 }
 
  #second-section .riviere h1{
    color: rgba(255, 0, 0, 0.7);
    font-size: 34px;
    font-weight: bold;
    padding: 30px 20px;
  }
  #second-section .riviere p{
    line-height: 26px;
  }
  #second-section .riviere:hover{
    background: #fff ;
    transform: translateY(-10px);
    color: #2e485c;
  }
  #second-section #obed-bg:hover{
    transform: translateY(-10px);
  }
  #mission-vision{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 grid-gap: 10px;

    padding: 30px 40px;
    margin-top: 40px;
  }
  #mission-vision div{
    padding: 40px;
    font-size: 15px ;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }
  /* #mission-vision .mission h1,
  #mission-vision .vision h1{
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding: 20px 0;
    left: 25%;
  } */
  #mission-vision .mission,
  #mission-vision .vision{
    text-align: center;
    padding: 20px 30px;
    font-size: 16px;
  }
  #mission-vision .mission h1,
  #mission-vision .vision h1{
    color: rgba(255, 0, 0, 0.7);
    font-size: 30px;
    margin-bottom: 20px;
  }
  #mission-vision .mission:hover{
    transform: translateX(-10px);
  }
  #mission-vision .vision:hover{
    transform: translateX(10px);
  }
  #activities{
    width: 80%;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
    background: #abab;
    /* left: 10%; */
    margin-left: 10%;
    padding: 30px 40px;
    text-align: center;
    position: relative;
    transition: background 0.5s, transform 0.5s;
    overflow: hidden;
  }
  #activities:hover{
    transform: translateX(-20px);
  }
  #activities h1{
    color: rgba(255, 0, 0, 0.7);
    margin-bottom: 30px;
  }
  .main-activities{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  .client-views{
    width: 100%;
    text-align: center;
    margin: 50px 0;
    overflow: hidden;
  }
  .client-views h1{
    color: rgba(255, 0, 0, 0.7);
    padding-bottom: 30px;
  }

#testimonials{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
   margin-top: 50px;
}
#testimonials div{
  background: #abab;
  padding: 40px;
  font-size: 15px ;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
#testimonials div:hover{
 transform: translateY(-10px);
}
#testimonials div h4{
  margin-bottom: 30px;
  color: rgba(255, 0, 0, 0.7);
  font-size: 20px;
}
#testimonials div p{
  font-size: 16px;
  line-height: 24px;
}
footer{
  margin-top: 40px;
  width: 100%;
  height: 90vh;
  position: relative;
  bottom: 0;
  background-image: linear-gradient(180deg, #abab,#1b9bff);
}
.row{
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}

.footer-col ul li{
  list-style: none;
}
.footer-col h4{
  color: #e91e64;
  color: rgba(255, 0, 0, 0.7);
  margin-bottom: 25px;
  font-size: 22px;
  position: relative;
}
.footer-col h4::before{
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: #e91e64;
  bottom: -18px;
}
.footer-col ul li{
  padding: 10px 0;
}
.footer-col ul li a{
text-decoration: none;
 color: rgb(255, 102, 0);
 font-size: 16px;
 transition:  0.4s;
 font-weight: bold;
}
.footer-col input{
  border: none;
  width: 250px;
  height: 45px;
  display: block;
  padding-left: 20px;
  margin: 14px 0;
  border-radius: 6px;
  border-bottom: 2px solid #e91e64 ;
  outline: none;
}
.footer-col #submit{
    padding: 0 20px;
    background: #e91e64;
    border: none;
    outline: none;
    color: #fefefe;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.footer-col #message{
  border-radius: 6px;
  border: none;
  border-bottom: 2px solid #e91e64;
  outline: none;
  padding: 10px 10px;
}
.col{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
  vertical-align: -webkit-baseline-middle;
}
.col .bar{
  position: relative;
  width: 100%;
  height: 4px;
  background: rgb(255, 102, 0);
}
.col div p{
  padding-top: 20px;
  color: rgb(255, 102, 0);
  font-weight: bold;
  font-size: 18px;
}
.col .right .socialIcon{
  /* display:block; */
  position: relative;
  float: right;
  width: calc(80% - 400px);
  margin-top:-25px ;
}

.row .right .socialIcon i{
display: inline-block;
/* padding: 0 10px; */
font-size: 24px;
margin: 0 20px;
transition: 0.4s;
color: #fefe;
}
.row .right .socialIcon i:hover{
   color: rgba(255, 0, 0, 0.7);
   transform: translateY(-6px);
} 

@media (max-width: 865px){
 
  footer .row{
    flex-direction: column;
    padding: 20px 30px;
  }
  footer .footer-col ul{
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .footer-col input,
  .footer-col textarea{
    width: 100%;
  }
  .row .right{
    display: flex;

  }
  .row .right .socialIcon{
    display: flex;
    width: calc(100% - 35%);
  }
  .row .right .socialIcon i{
    /* margin: 0 px; */
    margin-top: 30px;

  }
}







 /* --------responsove design for the first section and second section---------------- */
 @media screen and (max-width: 858px) {
  #first-section #slider h1{
    font-size: 24px;
    padding-top: 20px;
  }
 .description h2{
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 0;
  }
  .description p{
      color: white;
      font-size: 18px;
      line-height: 30px;
    } 
    #second-section{
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
    .riviere{
      padding: 20px 20px;
      /* margin-bottom: 500px; */
    }
#second-section .riviere h1{
font-size: 24px;
line-height: 30px;
padding: 10px 10px;
}
.riviere p{
line-height: 20px;
}
}